@import '../../styles/variables';

.header {
	width: 100%;
	background-color: $transparent-white;
	height: 90px;
	text-align: center;
	display: flex;
	.wrapper {
		width: 80%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
