@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import './styles/variables';

.App {
	background-color: $background-color;
	height: $full;
	width: $full;
	color: $text-white;
	// align-items: center;
	font-family: "Poppins";
	text-align: center;
	.wrapper {
		width: 80%;
	}
}

.home {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	.wrapper {
		margin: auto;
		width: 80%;
		display: flex;
		flex-direction: row;
	}
}

.create-blogs {
	.wrapper {
		margin: auto;
		width: 80%;
	}
}

.all-blogs {
	position: relative;
	.floating-button-wrapper-right {
		position: fixed;
		right: 30px;
		bottom: 30px;

	}
	.loader-wrapper {
		margin-top: 50px;
	}
}

.about-me {
	.wrapper {
		margin: auto;
		width: 80%;
		display: flex;
		flex-direction: row;
		.content {
			width: 100%;
			margin: 30px;
			padding: 30px;
			background-color: $blog-background-color;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}